<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Resume - Start Bootstrap Theme</title>
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
        <link href="../css/main.css" rel="stylesheet" />

    </head>

    <style>
        html, body {
            height: 100%;
        }

        .wrap {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .button {
            width: 140px;
            height: 45px;
            font-family: 'Roboto', sans-serif;
            font-size: 11px;
            text-transform: uppercase;
            letter-spacing: 2.5px;
            font-weight: 500;
            color: #000;
            background-color: #fff;
            border: none;
            border-radius: 45px;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease 0s;
            cursor: pointer;
            outline: none;
        }

        .button:hover {
            background-color: #e5762e;
            box-shadow: 0px 15px 20px rgb(229 46 56 / 40%);
            color: #fff;
            transform: translateY(-7px);
        }
        .resume-section,.container-fluid{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        .social-icons{
            display: flex;
            justify-content: start;
        }

    </style>
    <script src = "http://code.jquery.com/jquery-latest.js"></script>
    <script>
        function infoupdate(){
            location.href= "/main/infoupdate"
        }

        function experienceAdd() {
            location.href= "/main/experienceAdd"
        }

    </script>
    <script th:inline="javascript">
        $(document).ready(function(){

            var usersubinfo = [[${usersubinfo}]];
            //article의 정보를 alert창으로 표시한다.

            if(usersubinfo.giturl != null  ){
                document.getElementById("git").href = "http://github.com/" + usersubinfo.giturl;
            }
            if(usersubinfo.giturl != null){
                document.getElementById("blog").href = "http://blog.naver.com/" + usersubinfo.blogurl;
            }

        });

    </script>

    <div style="text-align: right ;margin-top: 40px ">
        <a th:href="@{/profile/{userid}(userid=${session.userSession})}"><button class="button" id="mypage">마이페이지</button></a>
        <button class="button">로그아웃</button>
    </div>
    
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span class="d-block d-lg-none">Clarence Taylor</span>
                <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="assets/img/profile.jpg" alt="..." /></span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">인적사항</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">경력기술서</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">스킬</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/resume">자기소개서</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/">프로젝트</a></li>
                </ul>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
                <section class="resume-section" id="about">
                    <div class="resume-section-content">
                        <h2 class="mb-0" th:text="${userinfo.getName()}">
                            <span class="text-primary" ></span>
                        </h2>
                        <div><b>PhoneNumber</b> </div> <div class="subheading mb-5" th:text="${userinfo.getPhone()}"></div>
                        <div ><b>Email</b></div> <div class="subheading mb-5" th:text="${userinfo.getEmail()}"></div></div>
                    <div class="lead mb-5">
                        <button type="button" onclick="infoupdate()" class="btn btn-outline-warning">수정</button></div>
                    <th:block th:if="${usersubinfo.introduction == null}">
                        <div><p class="lead mb-5"><a>간단한 자기소개를 등록해주세요</a></p></div>
                    </th:block>
                    <th:block th:if="${usersubinfo.introduction != null}">
                        <div><p class="lead mb-5"><a th:text="${usersubinfo.getIntroduction()}"></a></p></div>
                    </th:block>


                        <div class="social-icons">
                                <a class="social-icon" id="blog" href="#!"><i class="fab fa-blogger-b"></i></a>

                                <a class="social-icon" id = "git" href="#!"><i class="fab fa-github"></i></a>
                        </div>



            </section>
            <hr class="m-0" />
            <!-- Experience-->
            <section class="resume-section" id="experience" >
                <div class="resume-section-content">

                    <h2 class="mb-5">경력 기술서</h2>
                    <button type="button" style ="margin-left:975px; margin-bottom: 20px" onclick="experienceAdd()" class="btn btn-outline-secondary">추가</button>
                    <th:block th:if="${experienceinfo == null}">
                        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                            <h3 class="mb-0">추가 버튼을 눌러 경력 기술서를 등록해주세요 !</h3>
                        </div>
                    </th:block>
                    <th:block th:if="${experienceinfo != null}">
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5" th:each="experience : ${experienceinfo}">
                        <div class="flex-grow-1">
                            <h3 class="mb-0" th:text="${experience.company}"></h3>
                            <div class="subheading mb-3" th:text="${experience.job}"></div>
                            <p th:text="${experience.contents}"></p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary" th:text="${experience.start_dt}"></span></div>
                        <div class="flex-shrink-0"><span class="text-primary" > ~ </span></div>
                        <div class="flex-shrink-0"><span class="text-primary" th:text="${experience.end_dt}"></span></div>
                        <div class="flex-shrink-0">
                            <button type="button" style ="margin-left:20px"class="btn btn-outline-warning">수정</button>
                            <button type="button" style ="margin-left:10px"class="btn btn-outline-warning">삭제</button>
                        </div>
                    </div>
                    </th:block>
                </div>
            </section>
            <hr class="m-0" />

            <hr class="m-0" />
            <!-- Skills-->
            <section class="resume-section" id="skills">
                <div class="resume-section-content">
                    <h2 class="mb-5">Skills</h2>
                    <div class="subheading mb-3">Programming Languages & Tools</div>
                    <ul class="list-inline dev-icons">
                        <li class="list-inline-item"><i class="fab fa-html5"></i></li>
                        <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
                        <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
                        <li class="list-inline-item"><i class="fab fa-angular"></i></li>
                        <li class="list-inline-item"><i class="fab fa-react"></i></li>
                        <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
                        <li class="list-inline-item"><i class="fab fa-sass"></i></li>
                        <li class="list-inline-item"><i class="fab fa-less"></i></li>
                        <li class="list-inline-item"><i class="fab fa-wordpress"></i></li>
                        <li class="list-inline-item"><i class="fab fa-gulp"></i></li>
                        <li class="list-inline-item"><i class="fab fa-grunt"></i></li>
                        <li class="list-inline-item"><i class="fab fa-npm"></i></li>
                    </ul>
                    <div class="subheading mb-3">Workflow</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Mobile-First, Responsive Design
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Cross Browser Testing & Debugging
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Cross Functional Teams
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Agile Development & Scrum
                        </li>
                    </ul>
                </div>
            </section>
            

        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="../js/scripts.js"></script>

    </body>
</html>
