<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Resume - Start Bootstrap Theme</title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <link href="../css/main.css" rel="stylesheet" />
</head>

<style>
    .accordion {background-color:#eee;color:#444;cursor:pointer;width:100%;border:none;text-align:left;outline:none;font-size:15px;transition:.4s;padding:18px;}
    .active,.accordion:hover {background-color:#ccc;}
    .accordion:after { content: '\00276F'; /*❯*/
        float: right;
        margin-left: 5px;
        transform: rotate(90deg);}
    .active:after { content: "\00276F";
        transform: rotate(270deg); }
    .panel {background-color:#FFF;max-height:0;overflow:hidden;transition:max-height .2s ease-out;padding:0 18px;}



    .p-hide { display: none }
    .p-show { display: block }




</style>



<body id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Clarence Taylor</span>
        <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" th:src="${userImage.url}" /></span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/notices">공지사항</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/board">게시판</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">인적사항</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">경력기술서</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">스킬</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/selfintroduction">자기소개서</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/">프로젝트</a></li>
        </ul>
    </div>
</nav>


<script src = "http://code.jquery.com/jquery-latest.js"></script>
<script th:inline="javascript">


    $(document).ready(function(){

        const acc = document.getElementsByClassName("accordion");
        let i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
                this.classList.toggle("active");
                const panel = this.nextElementSibling;
                if (panel.style.maxHeight){
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            });
        }
        var accordionButtons = document.querySelectorAll('.accordion');
        var saveButton = document.querySelector('button[type="submit"]');

        accordionButtons.forEach(function(button) {
            button.addEventListener('click', function(event) {
                event.preventDefault();
            });
        });


        saveButton.addEventListener('click', function(event) {
            var form = document.getElementById('myForm');
            var formData = new FormData(form);

        });

        var skillnmarr = /*[[${skillnmarr}]]*/ [];
        // skillnmarr 배열을 자바스크립트 변수로 할당하여 사용
        console.log(skillnmarr); // skillnmarr 배열 확인

        for (var j = 0; j < skillnmarr.length; j++) {
            var value = skillnmarr[j];
            var checkbox = document.querySelector('input[type="checkbox"][value="' + value + '"]');
            if (checkbox) {
                checkbox.checked = true;
            }
        }

    });




</script>


<div style="text-align: center ;margin-top: 100px" ; >
<h3> 스킬 수정</h3>
<p>본인이 사용할 수 있는 스킬을 등록하는 페이지입니다.</p>
</div>
<form action="/main/skillSave" method="post" id="myForm">
    <button class="accordion">ProgrammingLanguage(언어)</button>
<div class="panel">
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/ProgrammingLang/cotlin.png" alt="ProgrammingLang/cotlin.png">
        <input type="checkbox" name="image[]" value="ProgrammingLang/cotlin.png">
    </label>

    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/ProgrammingLang/Cpp.png" alt="ProgrammingLang/Cpp.png">
        <input type="checkbox" name="image[]" value="ProgrammingLang/Cpp.png">
    </label>

    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/ProgrammingLang/Cshop.png" alt="ProgrammingLang/Cshop.png">
        <input type="checkbox" name="image[]" value="ProgrammingLang/Cshop.png">
    </label>

    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/ProgrammingLang/go.png" alt="ProgrammingLang/go.png">
        <input type="checkbox" name="image[]" value="ProgrammingLang/go.png">
    </label>

    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/ProgrammingLang/java.png" alt="ProgrammingLang/java.png">
        <input type="checkbox" name="image[]" value="ProgrammingLang/java.png">
    </label>

    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/ProgrammingLang/javascript.png" alt="ProgrammingLang/javascript.png">
        <input type="checkbox" name="image[]" value="ProgrammingLang/javascript.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/ProgrammingLang/Objective-c.png" alt="ProgrammingLang/Objective-c.png">
        <input type="checkbox" name="image[]" value="ProgrammingLang/Objective-c.png">
    </label>

    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/ProgrammingLang/php.png" alt="ProgrammingLang/php.png">
        <input type="checkbox" name="image[]" value="ProgrammingLang/php.png">
    </label>

    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/ProgrammingLang/cotlin.png" alt="ProgrammingLang/python.png">
        <input type="checkbox" name="image[]" value="ProgrammingLang/python.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/ProgrammingLang/R.png" alt="ProgrammingLang/R.png">
        <input type="checkbox" name="image[]" value="ProgrammingLang/R.png">
    </label>

    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/ProgrammingLang/ruby.png" alt="ProgrammingLang/ruby.png">
        <input type="checkbox" name="image[]" value="ProgrammingLang/ruby.png">
    </label>

    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/ProgrammingLang/scala.png" alt="ProgrammingLang/scala.png">
        <input type="checkbox" name="image[]" value="ProgrammingLang/scala.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/ProgrammingLang/swift.png" alt="ProgrammingLang/swift.png">
        <input type="checkbox" name="image[]" value="ProgrammingLang/swift.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/ProgrammingLang/typescript.png" alt="ProgrammingLang/typescript.png">
        <input type="checkbox" name="image[]" value="ProgrammingLang/typescript.png">
    </label>
</div>

<button class="accordion">Backend(백엔드)</button>
<div class="panel">
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Backend/AWS_Kinesis.png" alt="Backend/AWS_Kinesis.png">
        <input type="checkbox" name="image[]" value="Backend/AWS_Kinesis.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Backend/Armeria.png" alt="Backend/Armeria.png">
        <input type="checkbox" name="image[]" value="Backend/Armeria.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Backend/Apollo.png" alt="Backend/Apollo.png">
        <input type="checkbox" name="image[]" value="Backend/Apollo.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Backend/AWS_SES.png" alt="Backend/AWS_SES.png">
        <input type="checkbox" name="image[]" value="Backend/AWS_SES.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Backend/AWS_SQS.png" alt="Backend/AWS_SQS.png">
        <input type="checkbox" name="image[]" value="Backend/AWS_SQS.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Backend/Celery.png" alt="Backend/Celery.png">
        <input type="checkbox" name="image[]" value="Backend/Celery.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Backend/Codelgniter.png" alt="Backend/Codelgniter.png">
        <input type="checkbox" name="image[]" value="Backend/Codelgniter.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Backend/Django.png" alt="Backend/Django.png">
        <input type="checkbox" name="image[]" value="Backend/Django.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Backend/ExpressJS.png" alt="Backend/ExpressJS.png">
        <input type="checkbox" name="image[]" value="Backend/ExpressJS.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Backend/FastAPI.png" alt="Backend/FastAPI.png">
        <input type="checkbox" name="image[]" value="Backend/FastAPI.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Backend/Flask.png" alt="Backend/Flask.png">
        <input type="checkbox" name="image[]" value="Backend/Flask.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Backend/GPRC.png" alt="Backend/GPRC.png">
        <input type="checkbox" name="image[]" value="Backend/GPRC.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Backend/Hibernate.png" alt="Backend/Hibernate.png">
        <input type="checkbox" name="image[]" value="Backend/Hibernate.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Backend/Koa.png" alt="Backend/Koa.png">
        <input type="checkbox" name="image[]" value="Backend/Koa.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Backend/LiquiBase.png" alt="Backend/LiquiBase.png">
        <input type="checkbox" name="image[]" value="Backend/LiquiBase.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Backend/Mybatis.png" alt="Backend/Mybatis.png">
        <input type="checkbox" name="image[]" value="Backend/Mybatis.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Backend/NestJS.png" alt="Backend/NestJS.png">
        <input type="checkbox" name="image[]" value="Backend/NestJS.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Backend/Netty.png" alt="Backend/Netty.png">
        <input type="checkbox" name="image[]" value="Backend/Netty.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Backend/NodeJS.png" alt="Backend/NodeJS.png">
        <input type="checkbox" name="image[]" value="Backend/NodeJS.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Backend/RabbitMQ.png" alt="Backend/RabbitMQ.png">
        <input type="checkbox" name="image[]" value="Backend/RabbitMQ.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Backend/RubyOnRails.png" alt="Backend/RubyOnRails.png">
        <input type="checkbox" name="image[]" value="Backend/RubyOnRails.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Backend/Spring.png" alt="Backend/Spring.png">
        <input type="checkbox" name="image[]" value="Backend/Spring.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Backend/SpringBoot.png" alt="Backend/SpringBoot.png">
        <input type="checkbox" name="image[]" value="Backend/SpringBoot.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Backend/Swagger.png" alt="Backend/Swagger.png">
        <input type="checkbox" name="image[]" value="Backend/Swagger.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Backend/WebRTC.png" alt="Backend/WebRTC.png">
        <input type="checkbox" name="image[]" value="Backend/WebRTC.png">
    </label>

`
`
</div>

<button class="accordion" >Frontend(프론트엔드)</button>
<div class="panel">
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Frontend/Angular.png" alt="Frontend/Angular.png">
        <input type="checkbox" name="image[]" value="Frontend/Angular.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Frontend/Electron.png" alt="Frontend/Electron.png">
        <input type="checkbox" name="image[]" value="Frontend/Electron.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Frontend/EmberJS.png" alt="Frontend/EmberJS.png">
        <input type="checkbox" name="image[]" value="Frontend/EmberJS.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Frontend/Emotion.png" alt="Frontend/Emotion.png">
        <input type="checkbox" name="image[]" value="Frontend/Emotion.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Frontend/GraphQL.png" alt="Frontend/GraphQL.png">
        <input type="checkbox" name="image[]" value="Frontend/GraphQL.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Frontend/Mobx.png" alt="Frontend/Mobx.png">
        <input type="checkbox" name="image[]" value="Frontend/Mobx.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Frontend/NextJS.png" alt="Frontend/NextJS.png">
        <input type="checkbox" name="image[]" value="Frontend/NextJS.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Frontend/OpenGL.png" alt="Frontend/OpenGL.png">
        <input type="checkbox" name="image[]" value="Frontend/OpenGL.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Frontend/React_Query.png" alt="Frontend/React_Query.png">
        <input type="checkbox" name="image[]" value="Frontend/React_Query.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Frontend/ReactiveX.png" alt="Frontend/ReactiveX.png">
        <input type="checkbox" name="image[]" value="Frontend/ReactiveX.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Frontend/reactJS.png" alt="Frontend/reactJS.png">
        <input type="checkbox" name="image[]" value="Frontend/reactJS.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Frontend/Realy.png" alt="Frontend/Realy.png">
        <input type="checkbox" name="image[]" value="Frontend/Realy.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Frontend/Recoil.png" alt="Frontend/Recoil.png">
        <input type="checkbox" name="image[]" value="Frontend/Recoil.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Frontend/redux.png" alt="Frontend/redux.png">
        <input type="checkbox" name="image[]" value="Frontend/redux.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Frontend/Storybook.png" alt="Frontend/Storybook.png">
        <input type="checkbox" name="image[]" value="Frontend/Storybook.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Frontend/VueJS.png" alt="Frontend/VueJS.png">
        <input type="checkbox" name="image[]" value="Frontend/VueJS.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Frontend/VueX.png" alt="Frontend/VueX.png">
        <input type="checkbox" name="image[]" value="Frontend/VueX.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Frontend/Zustand.png" alt="Frontend/Zustand.png">
        <input type="checkbox" name="image[]" value="Frontend/Zustand.png">
    </label>

</div>

<button class="accordion">Database(데이터베이스)</button>
<div class="panel">
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/DataBase/ArangoDB.png" alt="DataBase/ArangoDB.png">
        <input type="checkbox" name="image[]" value="DataBase/ArangoDB.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/DataBase/Arcus.png" alt="DataBase/Arcus.png">
        <input type="checkbox" name="image[]" value="DataBase/Arcus.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/DataBase/AWS_auroraDB.png" alt="DataBase/AWS_auroraDB.png">
        <input type="checkbox" name="image[]" value="DataBase/AWS_auroraDB.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/DataBase/AWS_DocumentDB.png" alt="DataBase/AWS_DocumentDB.png">
        <input type="checkbox" name="image[]" value="DataBase/AWS_DocumentDB.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/DataBase/AWS_dynamoDB.png" alt="DataBase/AWS_dynamoDB.png">
        <input type="checkbox" name="image[]" value="DataBase/AWS_dynamoDB.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/DataBase/AWS_MariaDB.png" alt="DataBase/AWS_MariaDB.png">
        <input type="checkbox" name="image[]" value="DataBase/AWS_MariaDB.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/DataBase/CassandraDB.png" alt="DataBase/CassandraDB.png">
        <input type="checkbox" name="image[]" value="DataBase/CassandraDB.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/DataBase/Ceph.png" alt="DataBase/Ceph.png">
        <input type="checkbox" name="image[]" value="DataBase/Ceph.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/DataBase/Couchbase.png" alt="DataBase/Couchbase.png">
        <input type="checkbox" name="image[]" value="DataBase/Couchbase.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/DataBase/Cubrid.png" alt="DataBase/Cubrid.png">
        <input type="checkbox" name="image[]" value="DataBase/Cubrid.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/DataBase/ElasticSearch.png" alt="DataBase/ElasticSearch.png">
        <input type="checkbox" name="image[]" value="DataBase/ElasticSearch.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/DataBase/Memcached.png" alt="DataBase/Memcached.png">
        <input type="checkbox" name="image[]" value="DataBase/Memcached.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/DataBase/MongoDB.png" alt="DataBase/MongoDB.png">
        <input type="checkbox" name="image[]" value="DataBase/MongoDB.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/DataBase/mssql.png" alt="DataBase/mssql.png">
        <input type="checkbox" name="image[]" value="DataBase/mssql.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/DataBase/MySQL.png" alt="DataBase/MySQL.png">
        <input type="checkbox" name="image[]" value="DataBase/MySQL.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/DataBase/Neo4j.png" alt="DataBase/Neo4j.png">
        <input type="checkbox" name="image[]" value="DataBase/Neo4j.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/DataBase/OracleDB.png" alt="DataBase/OracleDB.png">
        <input type="checkbox" name="image[]" value="DataBase/OracleDB.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/DataBase/PostgreSQL.png" alt="DataBase/PostgreSQL.png">
        <input type="checkbox" name="image[]" value="DataBase/PostgreSQL.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/DataBase/Redis.png" alt="DataBase/Redis.png">
        <input type="checkbox" name="image[]" value="DataBase/Redis.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/DataBase/RocksDB.png" alt="DataBase/RocksDB.png">
        <input type="checkbox" name="image[]" value="DataBase/RocksDB.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/DataBase/Solr.png" alt="DataBase/Solr.png">
        <input type="checkbox" name="image[]" value="DataBase/Solr.png">
    </label>


</div>

<button class="accordion">Devops(데브옵스)</button>
<div class="panel">
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Devops/Ansible.png" alt="Devops/Ansible.png">
        <input type="checkbox" name="image[]" value="Devops/Ansible.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Devops/ArgoCD.png" alt="Devops/ArgoCD.png">
        <input type="checkbox" name="image[]" value="Devops/ArgoCD.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Devops/Bitbucket.png" alt="Devops/Bitbucket.png">
        <input type="checkbox" name="image[]" value="Devops/Bitbucket.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Devops/Capistrano.png" alt="Devops/Capistrano.png">
        <input type="checkbox" name="image[]" value="Devops/Capistrano.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Devops/CentralDogma.png" alt="Devops/CentralDogma.png">
        <input type="checkbox" name="image[]" value="Devops/CentralDogma.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Devops/CircleCI.png" alt="Devops/CircleCI.png">
        <input type="checkbox" name="image[]" value="Devops/CircleCI.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Devops/Docker.png" alt="Devops/Docker.png">
        <input type="checkbox" name="image[]" value="Devops/Docker.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Devops/Github.png" alt="Devops/Github.png">
        <input type="checkbox" name="image[]" value="Devops/Github.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Devops/GithubAction.png" alt="Devops/GithubAction.png">
        <input type="checkbox" name="image[]" value="Devops/GithubAction.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Devops/Gitlab.png" alt="Devops/Gitlab.png">
        <input type="checkbox" name="image[]" value="Devops/Gitlab.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Devops/GoCD.png" alt="Devops/GoCD.png">
        <input type="checkbox" name="image[]" value="Devops/GoCD.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Devops/Harbor.png" alt="Devops/Harbor.png">
        <input type="checkbox" name="image[]" value="Devops/Harbor.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Devops/Helm.png" alt="Devops/Helm.png">
        <input type="checkbox" name="image[]" value="Devops/Helm.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Devops/Istio.png" alt="Devops/Istio.png">
        <input type="checkbox" name="image[]" value="Devops/Istio.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Devops/Jaeger.png" alt="Devops/Jaeger.png">
        <input type="checkbox" name="image[]" value="Devops/Jaeger.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Devops/Jenkins.png" alt="Devops/Jenkins.png">
        <input type="checkbox" name="image[]" value="Devops/Jenkins.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Devops/Kubernetes.png" alt="Devops/Kubernetes.png">
        <input type="checkbox" name="image[]" value="Devops/Kubernetes.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Devops/Nexus.png" alt="Devops/Nexus.png">
        <input type="checkbox" name="image[]" value="Devops/Nexus.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Devops/OpenEBS.png" alt="Devops/OpenEBS.png">
        <input type="checkbox" name="image[]" value="Devops/OpenEBS.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Devops/Rundeck.png" alt="Devops/Rundeck.png">
        <input type="checkbox" name="image[]" value="Devops/Rundeck.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Devops/Spinnaker.png" alt="Devops/Spinnaker.png">
        <input type="checkbox" name="image[]" value="Devops/Spinnaker.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Devops/Terraform.png" alt="Devops/Terraform.png">
        <input type="checkbox" name="image[]" value="Devops/Terraform.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Devops/Traefik.png" alt="Devops/Traefik.png">
        <input type="checkbox" name="image[]" value="Devops/Traefik.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Devops/Vault.png" alt="Devops/Vault.png">
        <input type="checkbox" name="image[]" value="Devops/Vault.png">
    </label>

</div>

<button class="accordion">Data(데이터)</button>
<div class="panel">
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Data/Airflow.png" alt="Data/Airflow.png">
        <input type="checkbox" name="image[]" value="Data/Airflow.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Data/AWS_Athena.png" alt="Data/AWS_Athena.png">
        <input type="checkbox" name="image[]" value="Data/AWS_Athena.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Data/Druid.png" alt="Data/Druid.png">
        <input type="checkbox" name="image[]" value="Data/Druid.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Data/Flink.png" alt="Data/Flink.png">
        <input type="checkbox" name="image[]" value="Data/Flink.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Data/Fluentd.png" alt="Data/Fluentd.png">
        <input type="checkbox" name="image[]" value="Data/Fluentd.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Data/GoogleBigQuery.png" alt="Data/GoogleBigQuery.png">
        <input type="checkbox" name="image[]" value="Data/GoogleBigQuery.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Data/Grafana.png" alt="Data/Grafana.png">
        <input type="checkbox" name="image[]" value="Data/Grafana.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Data/Hadoop.png" alt="Data/Hadoop.png">
        <input type="checkbox" name="image[]" value="Data/Hadoop.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Data/HBase.png" alt="Data/HBase.png">
        <input type="checkbox" name="image[]" value="Data/HBase.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Data/Hive.png" alt="Data/Hive.png">
        <input type="checkbox" name="image[]" value="Data/Hive.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Data/Kafka.png" alt="Data/Kafka.png">
        <input type="checkbox" name="image[]" value="Data/Kafka.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Data/Keras.png" alt="Data/Keras.png">
        <input type="checkbox" name="image[]" value="Data/Keras.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Data/Kibana.png" alt="Data/Kibana.png">
        <input type="checkbox" name="image[]" value="Data/Kibana.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Data/Kubeflow.png" alt="Data/Kubeflow.png">
        <input type="checkbox" name="image[]" value="Data/Kubeflow.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Data/MLflow.png" alt="Data/MLflow.png">
        <input type="checkbox" name="image[]" value="Data/MLflow.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Data/NIFI.png" alt="Data/NIFI.png">
        <input type="checkbox" name="image[]" value="Data/NIFI.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Data/Presto.png" alt="Data/Presto.png">
        <input type="checkbox" name="image[]" value="Data/Presto.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Data/Prometheus.png" alt="Data/Prometheus.png">
        <input type="checkbox" name="image[]" value="Data/Prometheus.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Data/Pytorch.png" alt="Data/Pytorch.png">
        <input type="checkbox" name="image[]" value="Data/Pytorch.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Data/Ranger.png" alt="Data/Ranger.png">
        <input type="checkbox" name="image[]" value="Data/Ranger.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Data/Airflow.png" alt="Data/Airflow.png">
        <input type="checkbox" name="image[]" value="Data/Airflow.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Data/Spark.png" alt="Data/Spark.png">
        <input type="checkbox" name="image[]" value="Data/Spark.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Data/Tableau.png" alt="Data/Tableau.png">
        <input type="checkbox" name="image[]" value="Data/Tableau.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Data/Tensorflow.png" alt="Data/Tensorflow.png">
        <input type="checkbox" name="image[]" value="Data/Tensorflow.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Data/Trino.png" alt="Data/Trino.png">
        <input type="checkbox" name="image[]" value="Data/Trino.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Data/Zeppelin.png" alt="Data/Zeppelin.png">
        <input type="checkbox" name="image[]" value="Data/Zeppelin.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/Data/Zipkin.png" alt="Data/Zipkin.png">
        <input type="checkbox" name="image[]" value="Data/Zipkin.png">
    </label>


</div>

<button class="accordion">TestingTool(테스트툴)</button>
<div class="panel">
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/TestingTool/Appium.png" alt="TestingTool/Appium.png">
        <input type="checkbox" name="image[]" value="TestingTool/Appium.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/TestingTool/Cypress.png" alt="TestingTool/Cypress.png">
        <input type="checkbox" name="image[]" value="TestingTool/Cypress.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/TestingTool/Enzyme.png" alt="TestingTool/Enzyme.png">
        <input type="checkbox" name="image[]" value="TestingTool/Enzyme.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/TestingTool/Jasmine.png" alt="TestingTool/Jasmine.png">
        <input type="checkbox" name="image[]" value="TestingTool/Jasmine.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/TestingTool/Jest.png" alt="TestingTool/Jest.png">
        <input type="checkbox" name="image[]" value="TestingTool/Jest.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/TestingTool/Junit.png" alt="TestingTool/Junit.png">
        <input type="checkbox" name="image[]" value="TestingTool/Junit.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/TestingTool/Karma.png" alt="TestingTool/Karma.png">
        <input type="checkbox" name="image[]" value="TestingTool/Karma.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/TestingTool/Locust.png" alt="TestingTool/Locust.png">
        <input type="checkbox" name="image[]" value="TestingTool/Locust.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/TestingTool/Mocha.png" alt="TestingTool/Mocha.png">
        <input type="checkbox" name="image[]" value="TestingTool/Mocha.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/TestingTool/Mockito.png" alt="TestingTool/Mockito.png">
        <input type="checkbox" name="image[]" value="TestingTool/Mockito.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/TestingTool/nGrinder.png" alt="TestingTool/nGrinder.png">
        <input type="checkbox" name="image[]" value="TestingTool/nGrinder.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/TestingTool/Playwright.png" alt="TestingTool/Playwright.png">
        <input type="checkbox" name="image[]" value="TestingTool/Playwright.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/TestingTool/Puppeteer.png" alt="TestingTool/Puppeteer.png">
        <input type="checkbox" name="image[]" value="TestingTool/Puppeteer.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/TestingTool/Rest-Assured.png" alt="TestingTool/Rest-Assured.png">
        <input type="checkbox" name="image[]" value="TestingTool/Rest-Assured.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/TestingTool/Selenium.png" alt="TestingTool/Selenium.png">
        <input type="checkbox" name="image[]" value="TestingTool/Selenium.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/TestingTool/Sinon.png" alt="TestingTool/Sinon.png">
        <input type="checkbox" name="image[]" value="TestingTool/Sinon.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/TestingTool/Sonarqube.png" alt="TestingTool/Sonarqube.png">
        <input type="checkbox" name="image[]" value="TestingTool/Sonarqube.png">
    </label>
    <label class="image-checkbox">
        <img src="https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/skillimage/TestingTool/TestingLibrary.png" alt="TestingTool/TestingLibrary.png">
        <input type="checkbox" name="image[]" value="TestingTool/TestingLibrary.png">
    </label>

</div>



    <button type="submit">저장</button>


</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="../js/scripts.js"></script>
</body>
</html>
