<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Resume - Start Bootstrap Theme</title>
  <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
  <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
  <link href="../css/main.css" rel="stylesheet" />
</head>
<style>
  .font{
    font-weight: 900;
    color: white;
  }
  .title-text{
    width:622px;
  }
  .content-header{
    display: flex;
    align-items: center;
    height: 50px;
  }
  .content__column{
    display: flex;
    width: 50%;
    margin-left: 20px;
    justify-content: flex-end;
  }
  .content__column:nth-child(2){
    display: flex;
    margin-right: 20px;
    justify-content: flex-end;
  }
  .content__home , .content__name, .content__log{
    margin-right: 10px;
  }

</style>
<body id="page-top">
<div class="container-fluid p-0">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">Clarence Taylor</span>
      <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="assets/img/profile.jpg" alt="..." /></span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/main">인적사항</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/main/#experience">경력기술서</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/main/#skills">스킬</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/resume"><span class="font">자기소개서</span></a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/">프로젝트</a></li>
      </ul>
    </div>
  </nav>
  <div class="content-header">
    <div class="content__column">자소서 작성하기</div>
    <div class="content__column">
      <div class="content__home">Home</div>
      <div class="content__name">경제목님</div>
      <div class="content__log">로그아웃</div>
    </div>
  </div>
  <div class="checker_spell">
      <div>
        <input class="title-text" type="text">
      </div>
      <div>
      <textarea
              name="content"
              id="character_counter_content"
              cols="70"
              rows="22"
              class="checker_input"
              placeholder="내용을 입력해주세요."
      ></textarea>
      </div>
  </div>


  <div class="summary">
    <p>
        <span>공백 포함</span><strong class="letter" id="current_msglen">00</strong><span>자</span><strong class="byte" id="current_msg_byte">00</strong><span>byte</span>
    </p>
    <p>
        <span>공백 제외</span><strong class="letter" id="current_msglen_except_blank">00</strong><span>자</span><strong class="byte" id="current_msg_byte_except_blank">0</strong><span>byte</span>
    </p>
  </div>

</div>
  <hr class="m-0" />

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="../js/scripts.js"></script>
<script >

  (function (window, $, undefined) {
    var $character_counter_content = $("#character_counter_content"),
            $st_len = $("#current_msglen"),
            $st_byte = $("#current_msg_byte"),
            $steb_len = $("#current_msglen_except_blank"),
            $steb_byte = $("#current_msg_byte_except_blank");
    //실시간 글자수 세기
    $character_counter_content.keyup(function () {
      chkMsgLength(this);
    });

    //텍스트 길이 계산
    function chkMsgLength(objMsg) {
      //공백 포함
      var vacuum_pattern = /\r\n/gm;
      var vacuum_text;
      var vacuum_length;

      //공백 미포함
      var vacuum_remove_pattern = /\s/gm;
      var vacuum_remove_text;
      var vacuum_remove_length;

      vacuum_text = $(objMsg).val();
      vacuum_length = lengthMsg($(objMsg).val());
      vacuum_remove_length = lengthMsg(
              vacuum_text.replace(vacuum_remove_pattern, "")
      );

      vacuum_text = vacuum_text.replace(vacuum_pattern, "\n");
      vacuum_remove_text = vacuum_text.replace(vacuum_remove_pattern, "");

      $st_len.html(vacuum_text.length); //현재 글자수를 넣는다
      $st_byte.html(vacuum_length); //현재 byte수를 넣는다
      $steb_len.html(vacuum_remove_text.length); //현재 글자수를 넣는다
      $steb_byte.html(vacuum_remove_length); //현재 byte수를 넣는다
    }

    //텍스트 바이트단위 계산
    function lengthMsg(obj_msg) {
      var nbytes = 0;
      var i;
      for (i = 0; i < obj_msg.length; i++) {
        var ch = obj_msg.charAt(i);
        if (encodeURIComponent(ch).length > 4) {
          // 한글일경우
          nbytes += 2;
        } else if (ch === "\n") {
          // 줄바꿈일경우
          if (obj_msg.charAt(i - 1) !== "\r") {
            // 하지만 밀려서 줄이 바뀐경우가 아닐때
            nbytes += 1;
          }
        } else {
          //나머지는 모두 1byte
          nbytes += 1;
        }
      } //END FOR
      return nbytes;
    }
  })(window, jQuery, undefined);

</script>

</body>
</html>
