<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.resume.dao.LoginDAO">
    <select id="checkUser" parameterType="LoginUserDTO" resultType="LoginUserDTO">
        select userid, password from user
        where userid = #{userid} and password=#{password}
    </select>

    <select id="checkEmail" parameterType="EmailCheckDTO" resultType="EmailCheckDTO">
        select name,email from user
        where name = #{name} and email = #{email}
    </select>

    <select id="findIdByEmail" parameterType="String" resultType="UserDTO">
        select userid,regdate  from user
        where email =#{email};
    </select>
</mapper>