<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.resume.Repository.LoginDao">
    <select id="checkUser" parameterType="LoginUserDto" resultType="LoginUserDto">
        select userid from user
        where userid = #{userid}
    </select>
    <select id="findPw" parameterType="String" resultType="String">
        select password from user
        where userid = #{userid}
    </select>

    <select id="checkEmail" parameterType="EmailCheckDto" resultType="EmailCheckDto">
        select name,email from user
        where name = #{name} and email = #{email}
    </select>

    <select id="findIdByEmail" parameterType="String" resultType="UserDto">
        select userid,regdate  from user
        where email =#{email};
    </select>
</mapper>