<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.resume.dao.MainDAO">


    <select id="userInfo" parameterType="String" resultType="RegisterDTO">
        select userid ,name, email,birth ,gender ,phone  from user where userid = #{sessionid}
    </select>

    <select id="usersubinfo" parameterType="String" resultType="UserInfoDTO">
        select * from userInformation where userid = #{sessionid}
    </select>

    <update id="infoupdate" parameterType="hashMap">
        update userInformation set introduction =#{intro} , giturl =#{git} , blogurl =#{blog}
        where userid=#{userid};
    </update>

    <insert id ="infoinsert" parameterType="String">
        insert into userInformation values (#{sessionid} , null, null ,null)
    </insert>

    <select id="experienceinfo" parameterType="String" resultType="ExperienceDTO">
        select * from experience where userid = #{sessionid}
    </select>

    <insert id ="experienceAdd" parameterType="String">
        insert into experience  (userid, job, company , contents , start_dt , end_dt)
        values (#{userid} , #{job} , #{company} ,#{contents}, #{start_dt} ,#{end_dt} )
    </insert>

    <delete id="experienceDelete" parameterType="String">
        delete from experience where experi_no = #{seqno1}

    </delete>

    <select id="experienceInfo2" parameterType="String" resultType="ExperienceDTO">
        select * from experience where experi_no = #{seqno1}
    </select>

    <update id="experienceModify" parameterType="String">
        update experience
         set job = #{job} , company = #{company} , contents = #{contents} ,
        start_dt = #{start_dt} , end_dt =#{end_dt}
        where experi_no = #{experi_no}

    </update>

    <insert id ="skillSave" parameterType="hashMap">
        insert into userSkills  (userid, skillname, url , updatedate )
        values (#{userid} , #{skillname} , #{skillurl} ,now() )
    </insert>

    <delete id="skillDelete" parameterType="hashMap">
        delete from userSkills where userid = #{userid}

    </delete>

    <select id="selectSkill" resultType="java.lang.String">
        SELECT url FROM userSkills WHERE userid = #{sessionId}
    </select>


</mapper>