<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.resume.dao.MainDAO">


    <select id="userInfo" parameterType="String" resultType="RegisterDTO">
        select name, email,birth ,gender ,phone  from user where userid = #{sessionid}
    </select>

    <select id="usersubinfo" parameterType="String" resultType="UserInfoDTO">
        select * from userInformation where userid = #{sessionid}
    </select>

    <update id="infoupdate" parameterType="hashMap">
        update userInformation set introduction =#{intro} , giturl =#{git} , blogurl =#{blog}
        where userid=#{userid};
    </update>

    <insert id ="infoinsert" parameterType="String">
        insert into userInformation values (#{sessionid} , null, null ,null)
    </insert>

</mapper>