<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.resume.dao.NoticeDAO">

    <insert id="saveNotice" parameterType="NoticeDTO">
        insert into notice(userid,title,contents)
        values(#{userid} , #{title}, #{contents})
    </insert>

    <delete id="deleteNotice" parameterType="int">
        delete from notice
        where num=#{num}
    </delete>

    <select id="noticeCount" resultType="int">
        select count(title) from notice
    </select>
    <select id="findAll" resultType="NoticeDTO" parameterType="map">
        select  userid,title,contents,regdate from notice
        where title like CONCAT('%',#{value},'%')
        order by regdate desc
        LIMIT #{offset}, #{pageSize};
    </select>
    <select id="findByNum" parameterType="int" resultType="NoticeDTO">
        select num,userid,title,contents,hits,regdate,up_date from notice
        where num= #{num}
    </select>

    <sql id="searchCondition">
        <choose>
            <when test='option=="T"'>
                AND title LIKE concat('%', #{keyword}, '%')
            </when>
            <when test='option=="C"'>
                AND contents LIKE concat('%', #{keyword}, '%')
            </when>
        </choose>
    </sql>

    <select id="searchSelectPage" parameterType="SearchCondition" resultType="NoticeDTO">
        SELECT num, userid,title, contents, hits, regdate
        FROM  notice
        WHERE true
        <include refid="searchCondition"/>
        ORDER BY regdate DESC, num DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="searchResultCnt" parameterType="SearchCondition" resultType="int">
        SELECT count(*)
        FROM  notice
        WHERE true
        <include refid="searchCondition"/>
    </select>

    <update id="updateNotice" parameterType="NoticeDTO">
        update notice
        set title = #{title}, contents =#{contents}, up_date=#{up_date}
        where num = #{num};
    </update>
</mapper>

