<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.resume.dao.NoticeDAO">

    <insert id="saveNotice" parameterType="NoticeDTO">
        insert into notice(userid,title,contents)
        values(#{userid} , #{title}, #{contents})
    </insert>

    <delete id="deleteNotice" parameterType="int">
        delete from notice
        where num=#{num}
    </delete>

    <select id="noticeCount" resultType="int">
        select count(title) from notice
    </select>
    <select id="findAll" resultType="NoticeDTO" parameterType="map">
        select  userid,title,contents,regdate from notice
        order by regdate desc
        LIMIT #{offset}, #{pageSize};
    </select>
    <select id="selectNoticeOne" parameterType="NoticeDTO" resultType="int">
        select num from notice
        where title=#{title}
        and contents=#{contents}
    </select>
</mapper>

