<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.resume.dao.RegisterDAO">
    <insert id="saveuser" parameterType="LoginUserDTO" >
        insert into user (userid, password , name , email ,birth, gender , phone
        )
        values(#{userid}, #{password} , #{name} , #{email} , #{birth} , #{gender},
        #{phone} )

    </insert>


    <select id="idcheck" parameterType="String" resultType="Integer">
        SELECT COUNT(*) FROM user
        WHERE
        userid = #{userid}
    </select>

</mapper>