<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.resume.Repository.RegisterDao">
    <insert id="saveuser" parameterType="LoginUserDto" >
        insert into user (userid, password , name , email ,birth, gender , phone
        )
        values(#{userid}, #{password} , #{name} , #{email} , #{birth} , #{gender},
        #{phone} )

    </insert>


    <select id="idcheck" parameterType="String" resultType="Integer">
        SELECT COUNT(*) FROM user
        WHERE
        userid = #{userid}
    </select>

    <select id="userInfo" parameterType="String" resultType="RegisterDto">
        select name, email,birth ,gender ,phone  from user where userid = #{sessionid}
    </select>


    <insert id="saveImage" parameterType="String" >
        insert into userimage ( userid, keyvalue , url) values
        (#{userid} , 'userImage/default_imaige.png' , 'https://s3.ap-northeast-2.amazonaws.com/resume.filesfolder/userImage/default_imaige.png')
    </insert>



</mapper>