<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.resume.dao.ResumeDAO">
    <insert id="insertResume" parameterType="ResumeDTO">
        insert into resume(userid,title,contents)
        values(#{userid},#{title},#{contents})
    </insert>
    <select id="findResumeById" parameterType="String" resultType="ResumeDTO">
        select title,contents,regdate,up_date,resumeno
        from resume
        where userid = #{userid}
    </select>

    <select id="selectByNo" parameterType="Integer" resultType="ResumeDTO">
        select title,contents,resumeno,userid
        from resume
        where resumeno = #{rno}
    </select>
    <update id="updateResume" parameterType="ResumeDTO">
        update  resume
        set title = #{title}, contents = #{contents}
        where resumeno = #{resumeno} and
        userid = #{userid}
    </update>

    <select id="testCode" parameterType="ResumeDTO" resultType="ResumeDTO">
        select title,resumeno,contents,userid
        from resume
        where title=#{title} and contents=#{contents} and userid=#{userid}
    </select>

    <delete id="deleteOne" parameterType="Integer">
        delete from resume
        where resumeno = #{resumneno}
    </delete>
    <delete id="deleteAll">
        delete from resume;
    </delete>
</mapper>